@model ScheduleHelper.Models.DbModels.StudentScheduleItem

@{
    ViewData["Title"] = "Create";
}

<h2>Новая запись</h2>

<h4>Записать студента на занятие</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Студент</label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleItemId" class="control-label">Занятие</label>
                <select asp-for="ScheduleItemId" class ="form-control" asp-items="ViewBag.ScheduleItemId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
