@model ScheduleHelper.Models.DbModels.StudentScheduleItem

@{
    ViewData["Title"] = "Удалить";
}

<h2>Удаление</h2>

<h3>Вы уверены что хотите сделать это?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleItem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScheduleItem.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentId" />
        <input type="hidden" asp-for="ScheduleItemId" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>