@model IEnumerable<ScheduleHelper.Models.DbModels.StudentScheduleItem>

@{
    ViewData["Title"] = "Главная";
}

<h2>Записать студента</h2>

@using (Html.BeginForm())
{
    <p>
        <br />
        <a asp-action="Create" style="float:right" class="btn btn-default">Добавить запись</a>
        @Html.TextBox("SearchString")
        <input type="submit" value=" " />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Элемент расписания
            </th>
            <th>
                Студент
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduleItem.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @Html.ActionLink("Удалить", "Delete", new { scheduleItemId = item.ScheduleItemId, studentId = item.StudentId })
                </td>
            </tr>
        }
    </tbody>
</table>