@model ScheduleHelper.Models.DbModels.Payment

@{
    ViewData["Title"] = "Создание оплаты";
}

<h4>Новая оплата</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label">Дата</label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pay" class="control-label">Сумма</label>
                <input asp-for="Pay" class="form-control" />
                <span asp-validation-for="Pay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label">Количество занятий</label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Refund" /> Возврат?
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="RefundPay" class="control-label">Сумма возврата</label>
                    <input asp-for="RefundPay" class="form-control" />
                    <span asp-validation-for="RefundPay" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="ScheduleItemId" class="control-label">Занятие</label>
                <select asp-for="ScheduleItemId" class="form-control" asp-items="ViewBag.ScheduleItem"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Студент</label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.Student"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}