@model ScheduleHelper.Models.DbModels.Language

@{
    ViewData["Title"] = "Delete";
}

<h2>Удаление</h2>

<h3>Вы действительно хотите удалить эту запись?</h3>
<div>
    <h4>Язык</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Описание:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index"class="btn btn-default">Назад</a>
    </form>
</div>