@model ScheduleHelper.Models.DbModels.Teacher

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить преподавателя <br />@Model.Name?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Да" class="btn btn-default" />
    </form>
    <form asp-action="Details">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Нет" class="btn btn-default" />
    </form>
</div>