@model ScheduleHelper.Models.DbModels.Place

@{
    ViewData["Title"] = "Details";
}

<h2>Подробности</h2>

<div>
    <h4>Место проведения</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Тип:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default">Изменить</a>
    <a asp-action="Index" class="btn btn-default">Назад</a>
</div>